* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.33) 2px 3.5px 2px;
}

#assinatura-mobile{
  display: none;
}
main{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div h1{
  font-size: 4vh;
  text-transform: uppercase;
  color: #f9b600;
  text-align: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  margin-bottom: 8vh;
}

.buttons button{
  margin-top: 2vh;
  background-color: #17256b; /* Green */
  border: none;
  color: white;
  padding: 2vh 12vw;

  text-decoration: none;
 
  font-size: 4vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main #assinatura-desktop{
  font-size: 1.4vh;
  margin-top: 10vh;
}

body{
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}


nav {
  font-size: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #17256b;
  height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

a{
  text-shadow: rgba(0, 0, 0, 0.33) 2px 3.5px 2px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #18266b;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .nav-list li {
    font-size: 1.8vh;
    margin-bottom: 20%;
    margin-top: 10%;
    margin-left: 12%;
    opacity: 0;
    
  }
  .mobile-menu {
    display: block;
  }

  #assinatura-mobile{
  
    display: inline;
  }

  #assinatura-desktop{
    display: none;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
